{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mental Sathi - Admin Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">


</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {#    {% include 'admin_sidebar.html' %}#}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'admin_navbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    {#                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
                    {#                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Number of Users
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{ user_count }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Number of Active Users
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ active_users }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Average Sentiment Score
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ average_sentiment_score|floatformat:2 }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Most Common Mood
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ most_common_emotion }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Sentiment Overview</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" id = 'weekly_area_chart_button' href="#">Weekly</a>
                                        <a class="dropdown-item"  id = 'monthly_area_chart_button' href="#">Monthly</a>
{#                                        <div class="dropdown-divider"></div>#}
                                        <a class="dropdown-item"id = 'all_time_area_chart_button' href="#">All time</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Sentiment ..Something</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" id = 'weekly_admin_pie_button' href="#">Weekly</a>
                                        <a class="dropdown-item" id = 'monthly_admin_pie_button' href="#">Monthly</a>
                                        <a class="dropdown-item" id = 'all_time_admin_pie_button' href="#">All Time</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Positive
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Negative
                                        </span>
                                    <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Neutral
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- Bar Chart -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                            </div>
                            <div class="card-body">
                                <div class="chart-bar">
                                    <canvas id="myBarChart"></canvas>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>


                    {#                        <div class="col-lg-6 mb-4">#}
                    {##}
                    {#                            <!-- Illustrations -->#}
                    {#                            <div class="card shadow mb-4">#}
                    {#                                <div class="card-header py-3">#}
                    {#                                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>#}
                    {#                                </div>#}
                    {#                                <div class="card-body">#}
                    {#                                    <div class="text-center">#}
                    {#                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"#}
                    {#                                             src="{% static 'img/undraw_posting_photo.svg' %}" alt="...">#}
                    {#                                    </div>#}
                    {#                                    <p>Add some quality, svg illustrations to your project courtesy of <a#}
                    {#                                            target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a#}
                    {#                                        constantly updated collection of beautiful svg images that you can use#}
                    {#                                        completely free and without attribution!</p>#}
                    {#                                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on#}
                    {#                                        unDraw &rarr;</a>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {##}
                    {#                            <!-- Approach -->#}
                    {#                            <div class="card shadow mb-4">#}
                    {#                                <div class="card-header py-3">#}
                    {#                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>#}
                    {#                                </div>#}
                    {#                                <div class="card-body">#}
                    {#                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce#}
                    {#                                        CSS bloat and poor page performance. Custom CSS classes are used to create#}
                    {#                                        custom components and custom utility classes.</p>#}
                    {#                                    <p class="mb-0">Before working with this theme, you should become familiar with the#}
                    {#                                        Bootstrap framework, especially the utility classes.</p>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {##}
                    {#                        </div>#}
                </div>

            </div>


            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- DataTales Example -->
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800" style = 'margin-left: 20px;'>Tables</h1>
        <p class="mb-4" style = 'margin-left: 20px;'>Below is the data of all the individual's signed in as users of the website.</p>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User Records</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date Joined</th>
                            <th>Email</th>
                            <th>Sentiment Score</th>
                            <th>Last Logged In</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for records in all_user_info_table %}
                            <tr>
                                <td>{{ records.first_name }}</td>
                                <td>{{ records.last_name }}</td>
                                <td>{{ records.date_joined }}</td>
                                <td>{{ records.email }}</td>
                                <td>{{ records.avg_sentiment|floatformat:2 }}</td>
                                <td>{{ records.last_logged_in }}</td>
                                <td>
                                    <button class="btn btn-info btn-sm details-btn">Details</button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- User Details Modal -->
        <div class="modal fade" id="userDetailsModal" tabindex="-1" role="dialog"
             aria-labelledby="userDetailsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userDetailsModalLabel">User Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Content will be dynamically inserted here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Mental Sathi 2025</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>


<!-- Page level custom scripts -->
<script src="{% static 'js/admin-js/chart-area-demo.js' %}"></script>
<script src="{% static 'js/admin-js/chart-pie-demo.js' %}"></script>
<script src="{% static 'js/admin-js/datatables-demo.js' %}"></script>
<script src="{% static 'js/admin-js/chart-bar-demo.js' %}"></script>

<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script>
    // Add this script to handle the Details button clicks
    $(document).ready(function () {
        // Initialize DataTable (the initialization should already be in datatables-demo.js)

        // Handle click event for the Details button
        $('#dataTable tbody').on('click', 'button.details-btn', async function () {
            let tr = $(this).closest('tr');
            let row = $('#dataTable').DataTable().row(tr);
            let email = tr.find('td:eq(3)').text()
            let url = 'http://127.0.0.1:8000/sentiment/fetch_admin_table_data/'

            const response = await fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'email': email
                })
            })
            let response_json = await response.json()
            console.log(`The response json created just now: ${response_json}`)
            var rowData = {
                first_name: tr.find('td:eq(0)').text(),
                last_name: tr.find('td:eq(1)').text(),
                date_joined: tr.find('td:eq(2)').text(),
                email: tr.find('td:eq(3)').text(),
                sentiment_score: tr.find('td:eq(4)').text(),
                last_logged_in: tr.find('td:eq(5)').text(),
                weekly_sentiment_score: response_json.weekly_sentiment_score,
                monthly_sentiment_score: response_json.monthly_sentiment_score,
                login_streak: response_json.login_streak
            };

            showUserDetails(rowData);
        });
    });

    function showUserDetails(userData) {
        // For now, using static content with dynamic user data
        var detailsHTML = `
            <div>
                <h4>${userData.first_name || ''} ${userData.last_name || ''}</h4>
                <p><strong>Email:</strong> ${userData.email}</p>
                <p><strong>Joined:</strong> ${userData.date_joined}</p>
                <p><strong>Last Login:</strong> ${userData.last_logged_in || 'Never'}</p>
                <p><strong>Sentiment Score:</strong> ${userData.sentiment_score || 'N/A'}</p>
                <p><strong>Weekly Sentiment Score:</strong> ${userData.weekly_sentiment_score ? Number(userData.weekly_sentiment_score).toFixed(2) : 'N/A'}</p>
                <p><strong>Montly Sentiment Score:</strong> ${userData.monthly_sentiment_score ? Number(userData.monthly_sentiment_score).toFixed(2) : 'N/A'}</p>
                <p><strong>Login Streak:</strong> ${userData.login_streak ? Number(userData.login_streak).toFixed(2) : 'N/A'}</p>
                </div>
        `;

        // Show the modal with the details
        $('#userDetailsModal .modal-body').html(detailsHTML);
        $('#userDetailsModal').modal('show');
    }
</script>

</body>

</html>